@{
    ViewBag.Title = "Power BI";    
}

<div class="content-page">
    <div class="content">
        <iframe width="933" height="700" id="biReport" name="biReport"
                src="@ViewBag.Link" 
                frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>
